@import "../../sass/dark"
@import "../../sass/TypeColorTasks"

.header
    grid-column: 2/3
    grid-row: 1/1
    width: 800px
    height: 50px
    z-index: 1
    background-color: $body
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0 0 0 10px

.wrapper
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%

.square
    color: $blue

.wrapper_title
    display: flex
    height: auto
    align-items: center
    justify-content: space-around
    width: 100%
    max-width: 120px
    color: $title-task

.title
    color: $title-task
    text-transform: capitalize
    margin: auto 0

.square
    color: $blue

.wrapper_icons
    display: flex
    align-items: center
    justify-content: flex-end
    width: 100%
    color: $title-task
    padding: 10px
    gap: 10px
.wrapper_search
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    gap: 10px
    position: relative
    animation: .4s linear .4s both identifier
    @keyframes identifier
        0%
            transform: scale(0)
        100%
            transform: scale(1)

    &::after
        position: absolute
        width: 100.5%
        height: 110%
        background: linear-gradient(180deg , $opaque,$salmon,$pink)
        content: ''
        left: -2px
        top: -1px
        z-index: 1
        border-radius: 6px
        animation: .6s linear .6s both identifier
        @keyframes identifier
            0%
                transform: scale(0)
            100%
                transform: scale(1)

.search
    width: 20px
    height: 20px
    cursor: pointer
    &:hover
        color: $content-task
        transition: .4s all

.star
    width: 20px
    height: 20px
    &:hover
        color: $content-task
        cursor: pointer
        transition: .4s all

.dots
    width: 20px
    height: 20px
    &:hover
        color: $content-task
        cursor: pointer
        transition: .4s all

.wrapper_options
    display: flex
    align-items: center
    justify-content: left
    width: 100%
    gap: 3rem
    height: 50%
    li
        color: $content-task
        cursor: pointer
        text-transform: capitalize
        font-size: 1rem
        font-weight: 600
        position: relative
