@import "../../sass/dark"
.task
    width: 200px
    height: 200px
    display: grid
    place-items: flex-start
    background-color: $tasks
    padding: 10px
    border-radius: 10px

.wrapper_types
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between

.wrapper
    flex: 1
    gap: 10px
    display: flex

.dot
    color: $title-task
    cursor: pointer

.Title
    color: $title-task
    word-wrap: break-word
    word-break: break-all
    font-size: 14px

.content
    color: $content-task
    word-wrap: break-word
    word-break: break-all
    font-size: 14px
.about

.careers
